<div class="header">Latest Post Activity</div>
<div class="card pt-4 pb-4 mt-4">
  <div class="d-flex justify-content-around mt-2 flex-wrap">
    <div class="p-2">
      <img class="feedImg" src="../../../../assets/img/pic5.PNG" />
    </div>
    <div class="p-2">
      <div class="header">Minimalist Stairs</div>
      <div class="d-flex mt-4">
        <div class="p-2"><i class="fa fa-heart"></i></div>
        <div class="p-2"><i class="fa fa-commenting"></i></div>
        <div class="p-2"><i class="fa fa-bookmark"></i></div>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">See All posts</div>
</div>
