.feedImg {
  border-radius: 8%;
  border: 3px solid white;
  width: 135px;
}

.card {
  border-radius: 8%;
  background: transparent;
  border: 2px solid white;
  box-shadow: -5px 15px 30px -5px rgba(0, 0, 0, 0.034);
}
.text-center {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #a975ff;
}
.header {
  color: #415280;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.fa {
  color: #a4b6e2;
  font-size: 17px;
}
