.img {
  padding: 20px 0 10px 10px;
}
hr {
  border-top: 1px solid #cfddeb;
}
.top {
  margin-top: 25px;
}

.vl {
  border-left: 1px solid #a4b6e240;
  padding-left: 25px;
}
.footer {
  margin-top: 90px;
  font-size: 13px;
  font-family: sans-serif;
  color: #a4b6e2;
}
