<div class="row">
  <div class="col-12 col-md-3 col-lg-2 bg-white" style="padding-right: 0">
    <div class="img"><img src="../assets/img/Capture.PNG" /></div>
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-12 col-md-6 col-lg-7">
    <app-user
      style="margin-left: 20px"
      class="ml-3 d-flex flex-wrap top justify-content-around"
    ></app-user>
    <hr />
    <app-feeds></app-feeds>
  </div>
  <div class="col-12 col-md-3 col-lg-3">
    <div class="vl">
      <div class="top">
        <app-suggest-list></app-suggest-list>
      </div>
      <hr />
      <div class="top">
        <app-post-activity></app-post-activity>
      </div>
      <div class="footer">About . Home . Terms . Popular . Language</div>
    </div>
  </div>
</div>
