<div class="" style="margin-left: 15px">
  <!-- <div class="row">
        <div class="col-6">Feeds</div>
        <div class="col">All</div>
        <div class="col">Following</div>
        <div class="col">Newest</div>
        <div class="col">Popular</div>
    </div> -->
  <div class="d-flex header">
    <div class="p-2 feed">Feeds</div>
    <div
      class="p-2 text-color"
      [class.active]="type.id === activeFilter"
      *ngFor="let type of types"
      (click)="filter(type)"
    >
      {{ type.name }}
    </div>
  </div>
  <div class="mt-2 d-flex flex-wrap justify-content-around">
    <app-feed-item
      *ngFor="let feed of filteredP"
      [feed]="feed"
      (feedChange)="feedChangeItem(feed)"
    ></app-feed-item>
  </div>
</div>
