.header {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  .feed {
    margin-right: auto;
    color: #415280;
  }
  .text-color {
    color: #a4b6e2;
  }
  .active {
    color: #a975ff;
  }
}
