/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

$primary-color: #a4b6e273;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f6faff;
}
